# Ignore markdown files (except ReadMe.md)
!ReadMe.md
*.md

# Ignore CSV files
*.csv

# Ignore JSON files
*.json

*.yaml

# Ignore Python cache folders
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python